@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  /* border: 1px solid; */
  box-sizing: border-box;
  font-family:'roboto';
  
}
body{
  background-color: #EAECEA;
}
header{
  
  max-height: 1200px;
  background-image: linear-gradient(rgba(231, 231, 231, 0.199), rgba(34, 34, 34, 0.25)), url(/ressources/image/image\ header\ 01.jpg);
  background-size: auto ;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

header h1{
  color: white;
  font-family: 'Lobster';
  font-size: 74px;
}

.navbar-brand{
  font-size: 35px;
  font-family: 'Lobster';
}

h2{
  font-family: 'Lobster';
  font-size: 45px;
  color: #687259;
}

.btn-green{
  max-width: 200px;
  background-color: #687259;
  color: white;
}

.btn-green:hover{
  background-color: #a2a182;
}

.btn-card{
  color: #687259;
}

.btn-card:hover{
  color: #a2a182;
}

#about p{
  text-align: justify;
}

.activitylogos{
  width: 80px;
  height: 80px;
  fill: #8e412e;
  
}