@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* GENERAL */

*{
  box-sizing: border-box;
  font-family:'roboto', sans-serif;
  
}
body{
  background: linear-gradient(176deg, rgba(117,141,135,1) 0%, rgba(90,114,114,1) 33%, rgba(76,100,103,1) 69%, rgba(68,92,96,1) 100%);
}

h2{
  font-family: 'Lobster';
  font-size: 45px;
  color: #687259;
}

#container{  
  background-color: #d8ddd7;
}

.barre-separation{
  content: none;
  height: 4px;
  background-color: #687259;
  width: 120px;
  border-radius: 2px;
}

  /* BOUTON */
.btn-green{
  max-width: 180px;
  min-width:120px; 
  background-color: #687259;
  color: white;
}

.btn-green:hover{
  background-color: #a2a182;
}

 /* TEXTE */
 .text-green{
  color:#687259; 
}

/* HEADER */
header{
  max-height: 1200px;
  background-image: linear-gradient(rgba(231, 231, 231, 0.199), rgba(34, 34, 34, 0.25)), url(/ressources/image/image\ header\ 01.jpg);
  background-size: auto ;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#header-event{
  max-height: 1200px;
  background-image: linear-gradient(rgba(231, 231, 231, 0.199), rgba(34, 34, 34, 0.25)), url(/ressources/image/image\ header\ event\ page.jpg);
  background-size: auto ;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

header h1{
  color: white;
  font-family: 'Lobster';
  font-size: 74px;
}

.navbar-brand{
  font-size: 35px;
  font-family: 'Lobster';
}

/* MAIN */
  /* ABOUT */
#about p{
  text-align: justify;
}

  /* ACTIVITE */
.activitylogos{
  width: 80px;
  height: 80px;
  fill: #8e412e;
  
}

  /* CONTACT */
#contact{
  background-color: #bfbfbf;
  color: white;
  font-weight: bold;
}

#contact h2{
  color: white;
}